SDL2_mixer/
SDL2/
SDL2-2.0.14/
SDL2_mixer-2.0.4/
.vscode/
SDL2-2.0.14.tar.gz
SDL2_mixer-2.0.4.tar.gz
doom-nukem
SDL2_mixer-devel-2.0.4-mingw.tar.gz
SDL2-devel-2.0.14-mingw.tar.gz
libft/libft.a
libft/obj
objs/
temp/
